.navbar {
    padding: 0.1rem 0 !important;
    width: 100%;
    max-width: 85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.options{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.links ul{
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #134074;
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;
    &:hover {
        color: #113763;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

#cavok-text-icon {
    height: 15rem;
}

.menu{
    position: relative;
    display: inline-block;
}

.menu-content{
    margin-right: 1rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 5;
    min-width: 10rem;
    background-color: #f9f9f9;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translate3d(-8.5rem, 1rem, 0px);
    will-change: transform;

    /* @media screen and (max-width: 1000px) {
        transform: translate3d(-9rem, 1rem, 0px);
    } */
}



.menu-list{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-list li{
    width: 100%;
}

.menu-list a {
    text-align: start;
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #134074;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #134074;
        color: #fff;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #134074;
    size: 5rem;

    &:hover {
        color: #113763;
    }
}

.menu-btn span {
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;
}

.menu-btn span {
    @media screen and (max-width: 768px) {
        display: none;
    }
}