.navbar {
    padding: 0.1rem 0 !important;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        width: 90%;
    }

    @media screen and (max-width: 768px) {
        width: 95%;
    }

}

.options{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.links ul{
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #134074;
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;
    &:hover {
        color: #113763;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

#cavok-text-icon {
    height: 15rem;
}

.menu-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #134074;
    size: 5rem;
}