.hero {
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (max-width: 768px) {
        height: 35rem;
    }
}

.background {
    width: 100%;
    filter: brightness(70%);

    @media screen and (max-width: 768px) {
        height: 100%;
    }
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 3;
}

.search-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    width: 100%;
    gap: 1rem;
    max-width: 85rem;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color: #ddeeff;
        padding: 1em;
    }
}

.search-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        align-items: normal;
    }
}

.search-box-header span {
    font-size: 1.5em; /* Adjust the font size to match <h5> */
    font-weight: bold;
}

.search-box-form {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    gap: 1rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    }
}

.search-box-form > * {
    flex: 1;
}

.search-box-form > .locations {
    @media screen and (min-width: 768px) {
        flex: 2;
    }
}

.locations{
    display: flex;
    flex-direction: row;    
    align-items: end;
    min-width: 20rem !important;

    @media screen and (max-width: 768px) {
        display: grid;
        gap: 1rem;
    }
}

.exchange-icon{
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    z-index: 2;
    border-radius: 0.75rem;
    padding: 4px;
    min-width: 35px;

    @media screen and (max-width: 768px) {
        display: none;
        font-size: 4.8rem;
        transition: transform 0.25s linear 0s;
        transform: rotate(90deg);
        place-self: center;
    }    
}

.search-box-form-input{
    text-align: start;
    padding-left: 0.25rem !important;
    padding-right:0.25rem !important;
}

.date-input{
    min-width: 18rem !important; 
}

.inline-flex{
    display: inline-flex !important;
}

.search-btn {
    margin-top: auto !important;
    font-size: larger !important;
    white-space: nowrap;
    /* min-width: 10rem !important; */

    @media screen and (max-width: 768px) {
        margin-top: 0.5rem !important;
    }
}

.passengers-input {
    display: inline-flex !important;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    /* min-width: 10.4rem; */
}

.passengers-input > span{
    white-space: nowrap;
}

.passengers-box {
    padding: 1rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 4;
    gap: 1rem;
    min-width: 15rem;
    background-color: #f9f9f9;
    border-radius: 0.5em;
    border: 1.5px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) and (max-width: 1050px) {
        transform: translate3d(-2rem, 0px, 0px);
        will-change: transform;
    }
}

.passengers-box-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #000;
}

.passengers-box-header span {
    font-size: 1.25em; /* Adjust the font size to match <h5> */
    font-weight: bold;
}

.passengers-box-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.passenger h6 {
    margin: 0;
}

.passenger-box-close-btn {
    border: none;
    background: none;
}

.passenger-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.passenger-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.passenger-amount > button {
    border: none;
    background: none;
    font-size: 2rem;
}

.passenger-amount > span {
    margin-top: 0.25rem;
}

.class-option > label{
    font-size: 1rem;
    font-weight: 500;
}