.search{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-header{
    background-color: #134085;
}

.search-body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto; 
    gap: 3rem;
}

.side-bar{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-bar-filter{
    text-align: start;
}

.information{
    text-align: start;
}

.filter-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-content-item{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filter-content-item h6{
    padding: 0;
    margin: 0;
}

.filter-content-item-body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.filter-content-item-body-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-content-item-body-line span{
    border: 1px solid #000;
    padding: 0.1rem 0.5rem;
}

.price-input{
    align-items: center;
    gap: 0.5rem;
}

.rotate {
    transition: transform 0.1s ease; /* Adapte a duração e a curva de animação conforme necessário */
    transform: rotate(180deg); /* Graus de rotação desejados */
}

.search-result{
    width: 75%;
}

.results{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.result-card{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow : 0 0 0.5rem #000;
}

.flight-holder{
    width: 70%;
}

.price-box{
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
