header {
    display: flex;
    height: 5em;
    align-items: flex-start;    
    background-color: #fff;
    padding: 0 2em;
    text-align: center;
    /* font-size: 2em;
    text-shadow: 2px 2px 4px #000000; */
}

#cavok-text-icon {
    height: 7em;
    width: auto;
    
}
