.recommend{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recommend-body{
    width: 75%; /* TODO: CHANGE THIS WIDTH FOR SOME MAIN PADDING */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 2rem;
    
    /* @media screen and (min-width: 280px) and (max-width: 768px) {
        grid-template-columns: repeat(1fr);
    } */
    @media screen and (min-width: 280px) and (max-width: 720px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    @media screen and (min-width: 720px) and (max-width: 1080px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 1000px) {
        width: 90%;
    }

    @media screen and (max-width: 768px) {
        width: 95%;
    }
}


.recommend-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: translateX(0.4rem) translateY(-1rem);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}