

video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.hero{
    background-image: url(../../assets/images/beach-croped.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
    height: 35em;
}

.content{
    height: 80%;
    width: 50%;
    background-color: white;
    border-radius: 1em;
    display: flex;
    padding: 2em;
}