.hero{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.conteiner{
    height: 40%;
    width: 70%;
    background-color: white;
    border-radius: 1em;
    padding: 3em;
}

.row {
    display: flex;
    /* box-sizing: border-box; */
    flex-direction: row;
    align-items: flex-start;
    border: 0;
    width: 100%;
    flex-wrap: wrap;
    text-align: start;
}

.btn-travel-mode-active{
    background-color: #134085 !important;
    color: white !important;
    border-color: #134085 !important;
}

.btn-travel-mode{
    background-color: white !important;
    color: #134085 !important;
    border-color: #134085 !important;

    &:hover {
        background-color: #113763 !important;
        color: white !important;
        border-color: #113763 !important;
    }
}

.row > * {
    flex: 1;
    width: auto;
}

.hero-input {
    /* border-radius: 100em; */
}

#search-btn {
    margin-top: auto;
    background-color: #134074 !important;
    border-color: #134074 !important;
    &:hover {
        background-color: #113763 !important;
        border-color: #113763 !important;
    }
}